In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/game_data.csv')

In [12]:
df[df.away=='TEN']

,Unnamed: 0,away,away_score,away_stats,home,home_score,home_stats,week,year
0,0,TEN,10,"[18, 320, 234, 86, 5, 28, 2, 5, 223, 42, 1701]",PIT,13,"[18, 320, 234, 86, 5, 28, 2, 5, 223, 42, 1701]",1,2009
43,0,TEN,17,"[17, 286, 159, 127, 3, 15, 4, 7, 303, 30, 1642]",NYJ,24,"[17, 286, 159, 127, 3, 15, 4, 7, 303, 30, 1642]",3,2009
52,0,TEN,17,"[19, 379, 284, 95, 6, 68, 3, 5, 211, 35, 1553]",JAC,37,"[19, 379, 284, 95, 6, 68, 3, 5, 211, 35, 1553]",4,2009
86,0,TEN,0,"[9, 186, -7, 193, 6, 55, 5, 6, 208, 28, 1260]",NE,59,"[9, 186, -7, 193, 6, 55, 5, 6, 208, 28, 1260]",6,2009
126,0,TEN,34,"[14, 315, 163, 152, 8, 58, 0, 5, 217, 44, 1570]",SF,27,"[14, 315, 163, 152, 8, 58, 0, 5, 217, 44, 1570]",9,2009
159,0,TEN,20,"[22, 344, 116, 228, 5, 25, 1, 4, 176, 42, 1939]",HOU,17,"[22, 344, 116, 228, 5, 25, 1, 4, 176, 42, 1939]",11,2009
181,0,TEN,17,"[24, 375, 233, 142, 4, 50, 2, 2, 78, 39, 1979]",IND,27,"[24, 375, 233, 142, 4, 50, 2, 2, 78, 39, 1979]",13,2009
255,0,TEN,17,"[19, 304, 171, 133, 9, 76, 2, 4, 214, 47, 1942]",SEA,13,"[19, 304, 171, 133, 9, 76, 2, 4, 214, 47, 1942]",17,2009
288,0,TEN,29,"[17, 271, 110, 161, 8, 80, 0, 5, 214, 37, 1702]",NYG,10,"[17, 271, 110, 161, 8, 80, 0, 5, 214, 37, 1702]",3,2010
328,0,TEN,34,"[17, 321, 163, 158, 4, 40, 0, 5, 174, 35, 1396]",DAL,27,"[17, 321, 163, 158, 4, 40, 0, 5, 174, 35, 1396]",5,2010
345,0,TEN,30,"[20, 324, 171, 153, 8, 57, 0, 2, 98, 50, 1965]",JAC,3,"[20, 324, 171, 153, 8, 57, 0, 2, 98, 50, 1965]",6,2010
367,0,TEN,25,"[15, 370, 305, 65, 10, 80, 0, 6, 279, 44, 1333]",SD,33,"[15, 370, 305, 65, 10, 80, 0, 6, 279, 44, 1333]",8,2010
387,0,TEN,17,"[15, 259, 124, 135, 5, 55, 3, 5, 209, 38, 1616]",MIA,29,"[15, 259, 124, 135, 5, 55, 3, 5, 209, 38, 1616]",10,2010
421,0,TEN,0,"[9, 162, 138, 24, 10, 79, 3, 7, 328, 44, 1219]",HOU,20,"[9, 162, 138, 24, 10, 79, 3, 7, 328, 44, 1219]",12,2010
485,0,TEN,14,"[16, 270, 213, 57, 9, 74, 2, 8, 352, 37, 1256]",KC,34,"[16, 270, 213, 57, 9, 74, 2, 8, 352, 37, 1256]",16,2010
501,0,TEN,20,"[17, 341, 290, 51, 7, 58, 1, 5, 211, 42, 1877]",IND,23,"[17, 341, 290, 51, 7, 58, 1, 5, 211, 42, 1877]",17,2010
516,0,TEN,14,"[13, 292, 249, 43, 7, 60, 1, 7, 291, 34, 1222]",JAC,16,"[13, 292, 249, 43, 7, 60, 1, 7, 291, 34, 1222]",1,2011
561,0,TEN,31,"[13, 332, 220, 112, 5, 45, 1, 6, 237, 37, 1387]",CLE,13,"[13, 332, 220, 112, 5, 45, 1, 6, 237, 37, 1387]",4,2011
576,0,TEN,17,"[20, 306, 240, 66, 9, 70, 1, 4, 169, 42, 1658]",PIT,38,"[20, 306, 240, 66, 9, 70, 1, 4, 169, 42, 1658]",5,2011
644,0,TEN,30,"[22, 383, 211, 172, 9, 92, 1, 5, 221, 38, 1956]",CAR,3,"[22, 383, 211, 172, 9, 92, 1, 5, 221, 38, 1956]",10,2011
660,0,TEN,17,"[17, 298, 257, 41, 10, 86, 1, 5, 225, 40, 1381]",ATL,23,"[17, 298, 257, 41, 10, 86, 1, 5, 225, 40, 1381]",11,2011
691,0,TEN,23,"[18, 317, 130, 187, 3, 20, 0, 5, 239, 46, 1694]",BUF,17,"[18, 317, 130, 187, 3, 20, 0, 5, 239, 46, 1694]",13,2011
724,0,TEN,13,"[21, 388, 322, 66, 7, 70, 3, 7, 329, 45, 1917]",IND,27,"[21, 388, 322, 66, 7, 70, 3, 7, 329, 45, 1917]",15,2011
756,0,TEN,23,"[17, 361, 275, 86, 6, 47, 1, 6, 286, 46, 1522]",HOU,22,"[17, 361, 275, 86, 6, 47, 1, 6, 286, 46, 1522]",17,2011
796,0,TEN,10,"[9, 212, 174, 38, 8, 59, 1, 7, 361, 49, 981]",SD,38,"[9, 212, 174, 38, 8, 59, 1, 7, 361, 49, 981]",2,2012
818,0,TEN,14,"[17, 325, 167, 158, 7, 73, 3, 7, 326, 42, 1654]",HOU,38,"[17, 325, 167, 158, 7, 73, 3, 7, 326, 42, 1654]",4,2012
836,0,TEN,7,"[18, 267, 215, 52, 10, 75, 2, 6, 256, 43, 1614]",MIN,30,"[18, 267, 215, 52, 10, 75, 2, 6, 256, 43, 1614]",5,2012
867,0,TEN,35,"[21, 390, 193, 197, 3, 25, 0, 3, 124, 35, 1781]",BUF,34,"[21, 390, 193, 197, 3, 25, 0, 3, 124, 35, 1781]",7,2012
903,0,TEN,37,"[17, 293, 116, 177, 4, 39, 0, 4, 208, 48, 1993]",MIA,3,"[17, 293, 116, 177, 4, 39, 0, 4, 208, 48, 1993]",10,2012
934,0,TEN,19,"[20, 360, 250, 110, 6, 42, 2, 4, 201, 49, 1837]",JAC,24,"[20, 360, 250, 110, 6, 42, 2, 4, 201, 49, 1837]",12,2012
...,...,...,...,...,...,...,...,...,...
1111,0,TEN,13,"[13, 223, 157, 66, 7, 44, 2, 4, 140, 31, 1598]",SEA,20,"[13, 223, 157, 66, 7, 44, 2, 4, 140, 31, 1598]",6,2013
1149,0,TEN,28,"[22, 363, 165, 198, 3, 30, 2, 5, 228, 35, 1629]",STL,21,"[22, 363, 165, 198, 3, 30, 2, 5, 228, 35, 1629]",9,2013
1196,0,TEN,23,"[22, 426, 312, 114, 10, 100, 0, 5, 163, 24, 2148]",OAK,19,"[22, 426, 312, 114, 10, 100, 0, 5, 163, 24, 2148]",12,2013
1205,0,TEN,14,"[24, 347, 185, 162, 6, 74, 4, 6, 222, 32, 2035]",IND,22,"[24, 347, 185, 162, 6, 74, 4, 6, 222, 32, 2035]",13,2013
1226,0,TEN,28,"[15, 254, 158, 96, 8, 66, 2, 4, 201, 44, 1240]",DEN,51,"[15, 254, 158, 96, 8, 66, 2, 4, 201, 44, 1240]",14,2013
1252,0,TEN,20,"[22, 346, 164, 182, 1, 4, 1, 3, 140, 39, 2139]",JAC,16,"[22, 346, 164, 182, 1, 4, 1, 3, 140, 39, 2139]",16,2013
1285,0,TEN,26,"[24, 405, 243, 162, 12, 110, 0, 6, 304, 43, 2264]",KC,10,"[24, 405, 243, 162, 12, 110, 0, 6, 304, 43, 2264]",1,2014
1314,0,TEN,7,"[22, 326, 177, 149, 11, 99, 2, 4, 141, 25, 1876]",CIN,33,"[22, 326, 177, 149, 11, 99, 2, 4, 141, 25, 1876]",3,2014
1332,0,TEN,17,"[16, 261, 176, 85, 6, 68, 3, 6, 265, 42, 1059]",IND,41,"[16, 261, 176, 85, 6, 68, 3, 6, 265, 42, 1059]",4,2014
1380,0,TEN,17,"[14, 236, 160, 76, 11, 96, 2, 5, 196, 39, 1856]",WAS,19,"[14, 236, 160, 76, 11, 96, 2, 5, 196, 39, 1856]",7,2014
1415,0,TEN,7,"[14, 210, 143, 67, 9, 67, 2, 8, 414, 49, 1753]",BAL,21,"[14, 210, 143, 67, 9, 67, 2, 8, 414, 49, 1753]",10,2014
1449,0,TEN,24,"[16, 351, 299, 52, 7, 56, 3, 6, 294, 41, 1608]",PHI,43,"[16, 351, 299, 52, 7, 56, 3, 6, 294, 41, 1608]",12,2014
1461,0,TEN,21,"[19, 320, 237, 83, 6, 66, 4, 5, 226, 41, 1604]",HOU,45,"[19, 320, 237, 83, 6, 66, 4, 5, 226, 41, 1604]",13,2014
1504,0,TEN,13,"[19, 357, 262, 95, 7, 47, 0, 5, 203, 34, 2092]",JAC,21,"[19, 357, 262, 95, 7, 47, 0, 5, 203, 34, 2092]",16,2014
1548,0,TEN,42,"[20, 309, 185, 124, 8, 55, 1, 4, 189, 43, 1890]",TB,14,"[20, 309, 185, 124, 8, 55, 1, 4, 189, 43, 1890]",1,2015
1556,0,TEN,14,"[21, 385, 219, 166, 9, 85, 3, 6, 298, 24, 2111]",CLE,28,"[21, 385, 219, 166, 9, 85, 3, 6, 298, 24, 2111]",2,2015
1645,0,TEN,6,"[15, 211, 125, 86, 6, 45, 3, 7, 349, 46, 1868]",HOU,20,"[15, 211, 125, 86, 6, 45, 3, 7, 349, 46, 1868]",8,2015
1659,0,TEN,34,"[25, 483, 371, 112, 9, 66, 1, 5, 253, 46, 1941]",NO,28,"[25, 483, 371, 112, 9, 66, 1, 5, 253, 46, 1941]",9,2015
1682,0,TEN,13,"[22, 316, 212, 104, 6, 59, 1, 5, 226, 30, 1895]",JAC,19,"[22, 316, 212, 104, 6, 59, 1, 5, 226, 30, 1895]",11,2015
1730,0,TEN,8,"[15, 292, 268, 24, 3, 20, 1, 6, 289, 43, 1444]",NYJ,30,"[15, 292, 268, 24, 3, 20, 1, 6, 289, 43, 1444]",14,2015
1751,0,TEN,16,"[15, 282, 223, 59, 3, 29, 3, 5, 272, 47, 1823]",NE,33,"[15, 282, 223, 59, 3, 29, 3, 5, 272, 47, 1823]",15,2015
1781,0,TEN,24,"[14, 231, 94, 137, 6, 60, 1, 6, 300, 47, 1603]",IND,30,"[14, 231, 94, 137, 6, 60, 1, 6, 300, 47, 1603]",17,2015
1811,0,TEN,16,"[22, 363, 224, 139, 12, 83, 1, 3, 142, 40, 1851]",DET,15,"[22, 363, 224, 139, 12, 83, 1, 3, 142, 40, 1851]",2,2016
1845,0,TEN,20,"[16, 320, 196, 124, 11, 93, 1, 5, 257, 31, 1902]",HOU,27,"[16, 320, 196, 124, 11, 93, 1, 5, 257, 31, 1902]",4,2016
1860,0,TEN,30,"[23, 398, 163, 235, 5, 40, 0, 5, 175, 18, 2204]",MIA,17,"[23, 398, 163, 235, 5, 40, 0, 5, 175, 18, 2204]",5,2016
1923,0,TEN,35,"[24, 393, 313, 80, 8, 57, 3, 4, 182, 45, 1411]",SD,43,"[24, 393, 313, 80, 8, 57, 3, 4, 182, 45, 1411]",9,2016
1944,0,TEN,17,"[20, 351, 254, 97, 11, 109, 0, 5, 219, 37, 1861]",IND,24,"[20, 351, 254, 97, 11, 109, 0, 5, 219, 37, 1861]",11,2016
1959,0,TEN,27,"[18, 375, 226, 149, 6, 118, 0, 4, 177, 43, 1765]",CHI,21,"[18, 375, 226, 149, 6, 118, 0, 4, 177, 43, 1765]",12,2016
2007,0,TEN,19,"[21, 389, 241, 148, 2, 25, 3, 4, 143, 35, 1835]",KC,17,"[21, 389, 241, 148, 2, 25, 3, 4, 143, 35, 1835]",15,2016
2022,0,TEN,17,"[19, 263, 205, 58, 6, 49, 1, 7, 313, 43, 1649]",JAX,38,"[19, 263, 205, 58, 6, 49, 1, 7, 313, 43, 1649]",16,2016

In [8]:
# teams = df.home .unique?
teams = ['TEN']

In [37]:
df_away = pd.DataFrame()
df_away['team'] = df.away
df_away['team_stats'] = df.away_stats
df_away['team_score'] = df.away_score
df_away['opp'] = df.home
df_away['opp_stats'] = df.home_stats
df_away['opp_score'] = df.home_score
df_away['home'] = 0
df_away['week'] = df.week
df_away['year'] = df.year

In [38]:
df_home = pd.DataFrame()
df_home['team'] = df.home
df_home['team_stats'] = df.home_stats
df_home['team_score'] = df.home_score
df_home['opp'] = df.away
df_home['opp_stats'] = df.away_stats
df_home['opp_score'] = df.away_score
df_home['home'] = 1
df_home['week'] = df.week
df_home['year'] = df.year

In [41]:
raw_data = pd.concat([df_away, df_home])

In [42]:
raw_data

,team,team_stats,team_score,opp,opp_stats,opp_score,home,week,year
0,TEN,"[18, 320, 234, 86, 5, 28, 2, 5, 223, 42, 1701]",10,PIT,"[18, 320, 234, 86, 5, 28, 2, 5, 223, 42, 1701]",13,0,1,2009
1,MIA,"[16, 259, 163, 96, 4, 27, 4, 5, 225, 39, 1747]",7,ATL,"[16, 259, 163, 96, 4, 27, 4, 5, 225, 39, 1747]",19,0,1,2009
2,KC,"[11, 188, 159, 29, 3, 15, 0, 5, 246, 47, 1211]",24,BAL,"[11, 188, 159, 29, 3, 15, 0, 5, 246, 47, 1211]",38,0,1,2009
3,PHI,"[17, 267, 82, 185, 9, 76, 2, 4, 171, 35, 1897]",38,CAR,"[17, 267, 82, 185, 9, 76, 2, 4, 171, 35, 1897]",10,0,1,2009
4,DEN,"[10, 302, 227, 75, 6, 39, 0, 8, 340, 36, 1593]",12,CIN,"[10, 302, 227, 75, 6, 39, 0, 8, 340, 36, 1593]",7,0,1,2009
5,MIN,"[19, 310, 85, 225, 3, 38, 0, 6, 232, 24, 2002]",34,CLE,"[19, 310, 85, 225, 3, 38, 0, 6, 232, 24, 2002]",20,0,1,2009
6,NYJ,"[22, 462, 272, 190, 10, 80, 1, 4, 164, 41, 2326]",24,HOU,"[22, 462, 272, 190, 10, 80, 1, 4, 164, 41, 2326]",7,0,1,2009
7,JAC,"[12, 228, 114, 114, 3, 24, 0, 5, 189, 37, 1564]",12,IND,"[12, 228, 114, 114, 3, 24, 0, 5, 189, 37, 1564]",14,0,1,2009
8,DET,"[14, 231, 198, 33, 8, 80, 3, 5, 208, 39, 1410]",27,NO,"[14, 231, 198, 33, 8, 80, 3, 5, 208, 39, 1410]",45,0,1,2009
9,DAL,"[18, 462, 344, 118, 4, 41, 0, 4, 219, 43, 1588]",34,TB,"[18, 462, 344, 118, 4, 41, 0, 4, 219, 43, 1588]",21,0,1,2009
10,SF,"[13, 203, 182, 21, 4, 31, 1, 8, 393, 42, 1897]",20,ARI,"[13, 203, 182, 21, 4, 31, 1, 8, 393, 42, 1897]",16,0,1,2009
11,WAS,"[15, 272, 187, 85, 4, 32, 2, 5, 193, 35, 1432]",17,NYG,"[15, 272, 187, 85, 4, 32, 2, 5, 193, 35, 1432]",23,0,1,2009
12,STL,"[13, 247, 170, 77, 10, 85, 1, 8, 406, 45, 1653]",0,SEA,"[13, 247, 170, 77, 10, 85, 1, 8, 406, 45, 1653]",28,0,1,2009
13,CHI,"[18, 352, 266, 86, 3, 25, 4, 4, 198, 46, 1983]",15,GB,"[18, 352, 266, 86, 3, 25, 4, 4, 198, 46, 1983]",21,0,1,2009
14,BUF,"[17, 276, 186, 90, 9, 71, 1, 4, 171, 38, 1372]",24,NE,"[17, 276, 186, 90, 9, 71, 1, 4, 171, 38, 1372]",25,0,1,2009
15,SD,"[19, 317, 240, 77, 9, 60, 2, 5, 265, 46, 1703]",24,OAK,"[19, 317, 240, 77, 9, 60, 2, 5, 265, 46, 1703]",20,0,1,2009
16,CAR,"[24, 440, 296, 144, 6, 35, 2, 2, 51, 26, 1708]",20,ATL,"[24, 440, 296, 144, 6, 35, 2, 2, 51, 26, 1708]",28,0,2,2009
17,MIN,"[18, 265, 153, 112, 5, 43, 1, 4, 168, 40, 1775]",27,DET,"[18, 265, 153, 112, 5, 43, 1, 4, 168, 40, 1775]",13,0,2,2009
18,CIN,"[19, 319, 168, 151, 13, 100, 2, 4, 185, 41, 2028]",31,GB,"[19, 319, 168, 151, 13, 100, 2, 4, 185, 41, 2028]",24,0,2,2009
19,ARI,"[22, 383, 265, 118, 7, 58, 2, 3, 139, 36, 1881]",31,JAC,"[22, 383, 265, 118, 7, 58, 2, 3, 139, 36, 1881]",17,0,2,2009
20,OAK,"[11, 166, 99, 67, 7, 45, 0, 7, 398, 46, 1281]",13,KC,"[11, 166, 99, 67, 7, 45, 0, 7, 398, 46, 1281]",10,0,2,2009
21,NE,"[18, 299, 216, 83, 11, 89, 1, 6, 221, 29, 1850]",9,NYJ,"[18, 299, 216, 83, 11, 89, 1, 6, 221, 29, 1850]",16,0,2,2009
22,NO,"[23, 421, 288, 133, 3, 13, 1, 3, 156, 50, 1826]",48,PHI,"[23, 421, 288, 133, 3, 13, 1, 3, 156, 50, 1826]",22,0,2,2009
23,HOU,"[19, 420, 357, 63, 6, 40, 0, 6, 311, 44, 2043]",34,TEN,"[19, 420, 357, 63, 6, 40, 0, 6, 311, 44, 2043]",31,0,2,2009
24,STL,"[14, 245, 119, 126, 6, 45, 1, 4, 173, 35, 1507]",7,WAS,"[14, 245, 119, 126, 6, 45, 1, 4, 173, 35, 1507]",9,0,2,2009
25,TB,"[19, 353, 296, 57, 13, 112, 2, 6, 258, 38, 1827]",20,BUF,"[19, 353, 296, 57, 13, 112, 2, 6, 258, 38, 1827]",33,0,2,2009
26,SEA,"[19, 283, 217, 66, 6, 45, 1, 7, 365, 47, 1529]",10,SF,"[19, 283, 217, 66, 6, 45, 1, 7, 365, 47, 1529]",23,0,2,2009
27,PIT,"[21, 308, 203, 105, 6, 52, 2, 3, 163, 50, 1826]",14,CHI,"[21, 308, 203, 105, 6, 52, 2, 3, 163, 50, 1826]",17,0,2,2009
28,CLE,"[11, 200, 146, 54, 4, 43, 3, 6, 272, 40, 1636]",6,DEN,"[11, 200, 146, 54, 4, 43, 3, 6, 272, 40, 1636]",27,0,2,2009
29,BAL,"[22, 311, 181, 130, 4, 32, 1, 4, 166, 42, 1721]",31,SD,"[22, 311, 181, 130, 4, 32, 1, 4, 166, 42, 1721]",26,0,2,2009
...,...,...,...,...,...,...,...,...,...
2018,CAR,"[21, 408, 256, 152, 6, 45, 0, 3, 127, 38, 1965]",16,ATL,"[21, 408, 256, 152, 6, 45, 0, 3, 127, 38, 1965]",33,1,16,2016
2019,CHI,"[21, 478, 270, 208, 7, 73, 0, 2, 83, 40, 1955]",21,WAS,"[21, 478, 270, 208, 7, 73, 0, 2, 83, 40, 1955]",41,1,16,2016
2020,CLE,"[19, 356, 322, 34, 9, 92, 1, 5, 251, 46, 1651]",20,SD,"[19, 356, 322, 34, 9, 92, 1, 5, 251, 46, 1651]",17,1,16,2016
2021,GB,"[22, 446, 353, 93, 8, 70, 2, 5, 186, 29, 1861]",38,MIN,"[22, 446, 353, 93, 8, 70, 2, 5, 186, 29, 1861]",25,1,16,2016
2022,JAX,"[19, 263, 205, 58, 6, 49, 1, 7, 313, 43, 1649]",38,TEN,"[19, 263, 205, 58, 6, 49, 1, 7, 313, 43, 1649]",17,1,16,2016
2023,NE,"[14, 239, 128, 111, 6, 77, 4, 4, 180, 41, 1517]",41,NYJ,"[14, 239, 128, 111, 6, 77, 4, 4, 180, 41, 1517]",3,1,16,2016
2024,NO,"[23, 349, 260, 89, 7, 63, 2, 3, 153, 51, 1704]",31,TB,"[23, 349, 260, 89, 7, 63, 2, 3, 153, 51, 1704]",24,1,16,2016
2025,OAK,"[20, 391, 288, 103, 4, 22, 3, 2, 100, 46, 1435]",33,IND,"[20, 391, 288, 103, 4, 22, 3, 2, 100, 46, 1435]",25,1,16,2016
2026,LA,"[21, 323, 253, 70, 11, 100, 2, 9, 372, 38, 1863]",21,SF,"[21, 323, 253, 70, 11, 100, 2, 9, 372, 38, 1863]",22,1,16,2016
2027,SEA,"[21, 370, 276, 94, 7, 85, 1, 5, 222, 43, 1578]",31,ARI,"[21, 370, 276, 94, 7, 85, 1, 5, 222, 43, 1578]",34,1,16,2016
2028,HOU,"[15, 294, 244, 50, 6, 60, 1, 8, 366, 42, 1734]",12,CIN,"[15, 294, 244, 50, 6, 60, 1, 8, 366, 42, 1734]",10,1,16,2016
2029,PIT,"[22, 368, 246, 122, 7, 95, 1, 3, 109, 36, 2077]",31,BAL,"[22, 368, 246, 122, 7, 95, 1, 3, 109, 36, 2077]",27,1,16,2016
2030,KC,"[14, 246, 183, 63, 9, 70, 3, 7, 326, 41, 1319]",33,DEN,"[14, 246, 183, 63, 9, 70, 3, 7, 326, 41, 1319]",10,1,16,2016
2031,DAL,"[23, 319, 229, 90, 5, 62, 2, 4, 196, 48, 1843]",42,DET,"[23, 319, 229, 90, 5, 62, 2, 4, 196, 48, 1843]",21,1,16,2016
2032,ATL,"[26, 473, 341, 132, 6, 70, 1, 4, 224, 46, 1815]",38,NO,"[26, 473, 341, 132, 6, 70, 1, 4, 224, 46, 1815]",32,1,17,2016
2033,CIN,"[22, 335, 263, 72, 4, 41, 2, 4, 175, 40, 1758]",27,BAL,"[22, 335, 263, 72, 4, 41, 2, 4, 175, 40, 1758]",10,1,17,2016
2034,DET,"[28, 448, 295, 153, 10, 75, 0, 5, 186, 37, 2049]",24,GB,"[28, 448, 295, 153, 10, 75, 0, 5, 186, 37, 2049]",31,1,17,2016
2035,IND,"[23, 470, 288, 182, 8, 54, 2, 4, 188, 42, 1776]",24,JAX,"[23, 470, 288, 182, 8, 54, 2, 4, 188, 42, 1776]",20,1,17,2016
2036,MIA,"[22, 396, 276, 120, 7, 64, 0, 3, 146, 44, 1882]",14,NE,"[22, 396, 276, 120, 7, 64, 0, 3, 146, 44, 1882]",35,1,17,2016
2037,MIN,"[19, 323, 140, 183, 6, 49, 5, 3, 143, 33, 1788]",38,CHI,"[19, 323, 140, 183, 6, 49, 5, 3, 143, 33, 1788]",10,1,17,2016
2038,NYJ,"[14, 230, 162, 68, 0, 0, 3, 6, 254, 38, 1713]",30,BUF,"[14, 230, 162, 68, 0, 0, 3, 6, 254, 38, 1713]",10,1,17,2016
2039,PHI,"[15, 195, 126, 69, 5, 35, 2, 5, 195, 33, 1458]",27,DAL,"[15, 195, 126, 69, 5, 35, 2, 5, 195, 33, 1458]",13,1,17,2016
2040,PIT,"[27, 437, 206, 231, 5, 37, 4, 4, 190, 44, 2334]",27,CLE,"[27, 437, 206, 231, 5, 37, 4, 4, 190, 44, 2334]",24,1,17,2016
2041,TB,"[18, 335, 207, 128, 4, 45, 3, 4, 164, 39, 1944]",17,CAR,"[18, 335, 207, 128, 4, 45, 3, 4, 164, 39, 1944]",16,1,17,2016
2042,TEN,"[20, 289, 243, 46, 6, 35, 1, 3, 142, 34, 1748]",24,HOU,"[20, 289, 243, 46, 6, 35, 1, 3, 142, 34, 1748]",17,1,17,2016
2043,WAS,"[17, 332, 171, 161, 5, 42, 0, 8, 363, 38, 2152]",10,NYG,"[17, 332, 171, 161, 5, 42, 0, 8, 363, 38, 2152]",19,1,17,2016
2044,DEN,"[11, 221, 164, 57, 13, 125, 3, 8, 452, 45, 1475]",24,OAK,"[11, 221, 164, 57, 13, 125, 3, 8, 452, 45, 1475]",6,1,17,2016
2045,LA,"[21, 344, 260, 84, 4, 51, 2, 4, 147, 26, 1678]",6,ARI,"[21, 344, 260, 84, 4, 51, 2, 4, 147, 26, 1678]",44,1,17,2016
2046,SD,"[26, 365, 262, 103, 4, 19, 1, 1, 44, 44, 1848]",27,KC,"[26, 365, 262, 103, 4, 19, 1, 1, 44, 44, 1848]",37,1,17,2016
2047,SF,"[18, 376, 289, 87, 4, 34, 0, 4, 184, 36, 1774]",23,SEA,"[18, 376, 289, 87, 4, 34, 0, 4, 184, 36, 1774]",25,1,17,2016